
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  background-color: #f7f6ea;
}

ul {margin-left: 20px
}

header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #ffffff;
  background-color: #015269;
  text-align: right;
}

figure { 
  width: 240px;
  height: 240px;
  border-style: groove;
  border-width: 10px;
  color:#ffffff;
  background-color: #015269;
  text-indent: 20px
}

.highlighted-text {
  font-weight: bolder;
}

#contact-section {
  width: 800px;
  border-style: double;
  background-color: #fbffdb;
  text-indent: 10px
}

footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #ffffff;
  background-color: #015269;
  text-align:center;
}